.user{
    position: fixed;
    top: 50%;
    left: 30%;
    font-size: 20px;
    padding: 5px;
    z-index: 100;
  }
  
.title{
  position: fixed;
  left: 30%;
  font-size: 20px;
  padding: 5px;
  z-index: 100;
  background-color: bisque;
}
  
  .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    top: 10%;
    left: 10%;
    width: 50%;
  }

  .result{
    position: fixed;
    top: 30%;
    left: 30%;
    font-size: 20px;
    padding: 5px;
    z-index: 100;
  }